@{
    ViewBag.Title = "AgilusFinan";
}

@Html.Partial("_PainelPeriodo")

<div class="row">
    <div class="col-lg-4 col-xs-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">Saldo</div>
            <div class="ibox-content" id="Saldo"></div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-xs-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">Resumo de títulos</div>
                    <div class="ibox-content" id="resumoTitulos"></div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-8 col-xs-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">Títulos Pendentes</div>
            <div class="ibox-content" id="TitulosPendentes"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">Previsto x Realizado</div>
                    <div class="ibox-content" id="PrevistosRealizados"></div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>

    var consultaDashboard = function () {

        var dataInicial = $('#dataInicial').val();
        var dataFinal = $('#dataFinal').val();

        $.ajax({
            url: "../ResumoTituloCategoria",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#resumoTitulos").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(conteudo);
            },
            error: function (e) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(e.message);
            }
        });

        $.ajax({
            url: "../TituloPendente",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#TitulosPendentes").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e.message);
            }
        });

        $.ajax({
            url: "../PrevistoRealizado",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#PrevistosRealizados").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(conteudo);
            },
            error: function (e) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(e.message);
            }
        })
        $.ajax({
            url: "../Saldo",
            method: "GET",
            data: {
                data: dataFinal,
                contaId: null
            },
            beforeSend: function () {
                $("#Saldo").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#Saldo>img").remove();
                $("#Saldo").html(conteudo);
            },
            error: function (e) {
                $("#Saldo>img").remove();
                $("#Saldo").html(e.message);
            }
        })
    };

    consultarPeriodo(consultaDashboard);

</script>


