@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4" id="resumoTitulos">
    </div>

    <div class="col-md-8" id="TitulosPendentes">
    </div>

</div>

<script>

    (function(){
    
        var result = $.ajax({
            url: "ResumoTituloCategoria",
            method: "GET",
            beforeSend: function () {
                $("#resumoTitulos").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(conteudo);
            },
            error: function (e) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(e);
            }
        });

        var result2 = $.ajax({
            url: "TituloPendente",
            method: "GET",
            beforeSend: function () {
                $("#TitulosPendentes").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e);
            }
        });
    })();
</script>