@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4"> 
         <div class="panel panel-primary" id="resumoTitulos">
         </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary" id="TitulosPendentes">
        </div>
    </div>
</div>

<script>

    (function () {

        var result = $.ajax({
            url: "../ResumoTituloCategoria",
            method: "GET",
            beforeSend: function () {
                $("#resumoTitulos").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(conteudo);
            },
            error: function (e) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(e.message);
            }
        });

        var result2 = $.ajax({
            url: "../TituloPendente",
            method: "GET",
            beforeSend: function () {
                $("#TitulosPendentes").html('<img src="/Content/Images/loading.gif">');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e.message);
            }
        });
    })();
</script>
