@{
    ViewBag.Title = "AgilusFinan";
}


@Scripts.Render("~/plugins/sparkline")

@Html.Partial("_PainelPeriodo")
<div class="row">
    <div class="col-lg-4 col-xs-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Saldo</h5> 
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <a href="@Url.Action("Index", "Extrato")" class="btn btn-primary btn-xs pull-right">Extrato  <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
            <div class="ibox-content no-padding" style="display: none;"> 
                <ul class="list-group" id="Saldo">
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Resumo de títulos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="resumoTitulos">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-8 col-xs-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Títulos Pendentes</h5>
                <div class="ibox-tools">
                    <button class="btn btn-default btn-xs" onclick="titulosPendentesPeriodo()">Vencimento(s) Hoje</button>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" id="TitulosPendentes"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Previsto x Realizado</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="PrevistosRealizados">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var consultaDashboard = function () {

        var dataInicial = Utils.convertFormatDate($('#dataInicial').val());
        var dataFinal = Utils.convertFormatDate($('#dataFinal').val());

        $.ajax({
            url: "../ResumoTituloCategoria",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#resumoTitulos").html('<div class="sk-spinner sk-spinner-three-bounce"><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>');
            },
            success: function (conteudo) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(conteudo);
            },
            error: function (e) {
                $("#resumoTitulos>img").remove();
                $("#resumoTitulos").html(e.message);
            },
            complete: Utils.verificaSessaoAjax
        });

        $.ajax({
            url: "../TituloPendente",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#TitulosPendentes").html('<div class="sk-spinner sk-spinner-three-bounce"><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e.message);
            }
        });

        $.ajax({
            url: "../PrevistoRealizado",
            method: "GET",
            data: {
                dataInicial: dataInicial,
                dataFinal: dataFinal
            },
            beforeSend: function () {
                $("#PrevistosRealizados").html('<div class="sk-spinner sk-spinner-three-bounce"><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>');
            },
            success: function (conteudo) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(conteudo);
            },
            error: function (e) {
                $("#PrevistosRealizados>img").remove();
                $("#PrevistosRealizados").html(e.message);
            }
        });

        $.ajax({
            url: "../Saldo",
            method: "GET",
            data: {
                data: dataFinal,
                contaId: null
            },
            beforeSend: function () {
                $("#Saldo").html('<div class="sk-spinner sk-spinner-three-bounce"><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>');
            },
            success: function (conteudo) {
                $("#Saldo>img").remove();
                $("#Saldo").html(conteudo);
            },
            error: function (e) {
                $("#Saldo>img").remove();
                $("#Saldo").html(e.message);
            }
        })
    };

    function titulosPendentesPeriodo() {
        $.ajax({
            url: "../TituloPendente",
            method: "GET",
            data: {
                dataInicial: $.datepicker.formatDate('yy-mm-dd', new Date()),
                dataFinal: $.datepicker.formatDate('yy-mm-dd', new Date())
            },
            beforeSend: function () {
                $("#TitulosPendentes").html('<div class="sk-spinner sk-spinner-three-bounce"><div class="sk-bounce1"></div><div class="sk-bounce2"></div><div class="sk-bounce3"></div></div>');
            },
            success: function (conteudo) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(conteudo);
            },
            error: function (e) {
                $("#TitulosPendentes>img").remove();
                $("#TitulosPendentes").html(e.message);
            }
        });
    }

    consultarPeriodo(consultaDashboard);

</script>


