<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://agilusfinan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>agilusfinan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>agilusfinan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$agilusfinan</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbAgilusFinan" Order="1" Enabled="False">
          <Destination Path="Data Source=dllfelagxs.database.windows.net,1433;Initial Catalog=dbAgilusFinan;Persist Security Info=True;User ID=claudio;Password=afc@55216" Name="Data Source=dllfelagxs.database.windows.net,1433;Initial Catalog=dbAgilusFinan;Persist Security Info=True;User ID=claudio;Password=afc@55216;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AgilusFinan.Infra.Context.Contexto, AgilusFinan.Infra" MigrationConfiguration="AgilusFinan.Infra.Migrations.Configuration, AgilusFinan.Infra" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbAgilusFinan-Web.config Connection String">
      <ParameterValue>Data Source=dllfelagxs.database.windows.net,1433;Initial Catalog=dbAgilusFinan;Persist Security Info=True;User ID=claudio;Password=afc@55216;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>