@model AgilusFinan.Web.ViewModels.TituloViewModel

@{
    ViewBag.Title = "Duplicar";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Duplicar @Model.TipoTitulo</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("~/Views/Titulo/_Cadastro.cshtml")
    </div>
</div>