@model AgilusFinan.Web.ViewModels.ItensCategoria


<option value=""></option>
@foreach (var item in Model.Lista)
{
    <option value="@item.Key" @(Model.Id != null && item.Key == Model.Id ? "selected" : "")  >@item.Value</option>
}

