@model Dictionary<int, string>

<option value=""></option>
@foreach (var item in Model)
{
    <option value="@item.Key" @(ViewBag.CategoriaPaiId != null && item.Key == ViewBag.CategoriaPaiId ? "selected" : "")  >@item.Value</option>
}

