@model AgilusFinan.Domain.Entities.Transferencia

@{
    ViewBag.Title = "Alterar";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Alterar Transferência</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("~/Views/Transferencia/_Cadastro.cshtml")
    </div>
</div>