/*reset*/
#tabTelefones, caption, tbody, tfoot, thead, tr, th, td 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-------------------------------*/
#divTable 
{
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;    
}


#tabTelefones 
{
    border-collapse: collapse;
    width: 35%;    
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10px;  
}
  
    /*Cabeçalho*/
    #tabTelefones > thead > th 
    {
        text-align: center;
        background-color: black;
        border: 2px solid white;
        border-color: black;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 18px;
        color: white                   
    }

    /*Todas as linhas*/
    #tabTelefones > tr 
    {

    }

    /*Todas células*/
    #tabTelefones > tr > td 
    {      
                                  
    }

    /*Todos os inputs*/
    #tabTelefones > tr > td > input 
    {
        border: none;
        font-size: 16px;
    }

    /*Todos inputs - 2*/
    #tabTelefones > tr > td > input,select,button 
    {        
        text-align: center;
        vertical-align: middle;
        height: 25px;  
    }
    
    /*Coluna 1*/
    #tabTelefones > tr > td:nth-child(1) 
    {
        border: 2px solid darkgrey;
        width: 30px;        
    }
        /*Coluna 1 - Input*/
        #tabTelefones > tr > td:nth-child(1) > input 
        {
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
        }

    /*Coluna 2*/
    #tabTelefones>tr>td:nth-child(2) 
    {
        border: 2px solid darkgrey;
        width: 30px
    }
        
        /*Coluna 2 - Input*/
        #tabTelefones>tr>td:nth-child(2) > input 
        {
            width: auto    

        }

    /*Coluna 3*/
    #tabTelefones >tr > td:nth-child(3)  
    {
        border: 2px solid darkgrey;
        width: 30px                    
    }

        /*Coluna 3 - Input*/
        #tabTelefones > tr > td:nth-child(3) >select  
        { 
            /*border: 2px solid darkgrey;*/
            border: none;
            height: 25px;
        }


    /*Coluna 4*/
    #tabTelefones > thead > th:nth-child(4)  
    {
        border: 2px solid darkgrey;
        display:none          
    }

        #tabTelefones > tr > td:nth-child(4)
        {
            display:none     
        }

        /*Coluna  - Input*/
        #tabTelefones> tr > td:nth-child(4) > input
        {            
            
        }


    /*Coluna 5*/
        #tabTelefones > tr > td:nth-child(5)
        { 
            /*border: 2px solid darkgrey;*/
            opacity: 0;
            padding-left: 10px
        }

        #tabTelefones > tr:hover > td:nth-child(5), button
        {
            background-color: white;
            opacity: 100;
            border: none;
            padding-left: 4px
        }

        #tabTelefones > tr > td:nth-child(5) > button > img 
        { 
            /*border: 2px solid darkgrey;*/
                height: 30px;
                width: 30px;
        }


#AdicionarTelefone 
{
       
}



.fadeout {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-iteration-count: 1;        
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    border: 2px solid rgba(255, 255, 255, 0);
}

/*Animações*/
@-webkit-keyframes fade-out {

    0% 
    {
        opacity: 1;
    }

    100% 
    {
        opacity: 0;
        border-color: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes slide-up {
    0% {top: 0;}
    50% {top: -50px;}
    100% {top: 0;}
}