body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* estilos para menus (feito por Cláudio) */
.menu {
    display: block;
    float: right;
    padding-right: 26%;
    margin-left: 1%;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;            
}

.menu ul  {
    color: white;
}

/*Seleciona apenas itens filhos excluindo o item principal.*/
.menu ul:first-child {    
    text-align: left;    
}

.menu li > ul {
    position: absolute;
    left:-30px;    
    top: 30px;    
    z-index: 1000;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 150ms ease, transform 150ms ease;
}

.menu li:hover > ul {
    display: block;
    opacity: 100;
    transform: translateY(0);
}

.menu li {
    color: white;
    background-color: steelblue;
    border: 1px solid steelblue;
    width: 120px;
    padding: 3px;
    position: relative;        
    vertical-align: middle; 
    list-style: none;           
}

.menu > li {    
    float: left;    
}

/*Troca de cores de fundo quando o mouse esta por cima.*/
.menu ul > li:hover {
    background-color: white;    
}

/*Alterando cores de elementos 'a'*/
.menu a { 
    color: white;
    text-decoration: none;
}

/*Força links a manter a cor especificada após terem sido visitados.*/
.menu a:visited {
    color: white;
    text-decoration: none;    
}

/*Altera cor da fonte do itens filhos do menu. Como são links é preciso usar o seletor 'a'*/
.menu li:hover > a {
    color: steelblue;
}

/*Fazendo excessao ao último item 'logoff' para nao mudar de cor com a passagem do mouse''*/
.menu li:nth-child(5):hover > a {
    color: white;
}

/* Wraper para o menu*/
.menu-wraper {
    position: absolute;
    background-color: steelblue;
    width: 100%;   
    margin-bottom: 100px;
    height: 50px;
}

.menu-wraper > .logo > a> img {    
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 7%;
}

.menu-wraper > .logo > a > p {        
    margin-top: 5px;
    margin-left: 2%;
    float: left;
    font-size: 20px;
    color: white;
}

/*Reset para o DummyBody*/
#dummybodyid {
    margin: 0;
    padding: 0
}


