body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* estilos para menus (feito por Cláudio) */
.menu {
    list-style: none;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 1030;
}

.menu > li {
    float: left;
}

.menu li {
    border: 1px solid black;
    width: 120px;
    padding: 3px;
    position: relative;
    background-color: white;
}

.menu li:hover {
    background-color: black;
    color: white;
}

.menu li > ul {
    position: absolute;
    left:-35px;
    top: 25px;
    display: none;
    z-index: 1000;
}

.menu li:hover > ul {
    display: block;
}
