/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    transform: translateX(0);
    transition: transform 1s ease;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Reset para o DummyBody*/
#dummybodyid {
    margin: 0;
    padding: 0;
}

/* Wraper para o menu*/
.menu-container {
    float: left;
    position: fixed;
    background-color: steelblue;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    z-index: 1;
    
}

    .menu-container .logo {
        float: left;
        width: auto;
        padding: 0;
        height: auto;
        margin-right: 0;
        margin-left: 4%;
        margin-top: 3px;
    }

    .menu-container img {
        float: left;
        position: relative;
        height: 40px;
        width: 40px;
        left: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu-container > .logo > a > p {
        float: left;
        position: relative;
        font-size: 20px;
        color: white;
        width: auto;
        padding: auto;
        margin: 5px 10px 10px 10px;
    }

/* estilos para menus (feito por Cláudio) */
.menu-wraper {        
    height: 100%;    
    position: fixed;
    top: 50px;
    left: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: steelblue;
    z-index: 1;
    transform: translateX(500px);
    transition: transform 500ms ease;
}

.menu {
    float: left;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.1em;
}

    .menu li > ul {
        position: relative;
        text-align: left;
        padding-left: 10px;
        display: none;
        width: 0;
        font-size: 12px;
    }

    /*Seletor do submenu. O faz deslocar para baixo como o passar do mouse*/
    .menu li:hover > ul {
        display: block;
    }

    .menu li {
        color: white;
        background-color: steelblue;
        border: 1px solid steelblue;
        padding: 0;
        list-style: none;
    }

    .menu > li {
        position: relative;
        padding-bottom: 38px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
        height: 30px;
        font-size: 16px;
        text-align: left;
    }

    /*Estilo apenas para os li's filhos'*/
    .menu ul:first-child {
        font-size: 14px;
        top: 40px;
        width:143px;
    }

    /*Troca de cores de fundo quando o mouse esta por cima.*/
    .menu ul > li:hover {
        background-color: white;
    }

    .menu a {
        color: white;
        text-decoration: none;
        margin-left: 3px;
        margin-right: 10px;
    }

    /*Força links a manter a cor especificada após terem sido visitados.*/
    .menu a:visited {
        color: white;
        text-decoration: none;
    }

    /*Altera cor da fonte do itens filhos do menu. Como são links é preciso usar o seletor 'a'*/
    .menu li:hover > a {
        color: steelblue;
    }

    /*Fazendo excessao ao último item 'logoff' para nao mudar de cor com a passagem do mouse''*/
    .menu > li:nth-child(5):hover > a {
        color: white;
    }

    .menu-toggle {
        position: fixed;
        float: left;
        top: 7px;
        right: 40px;
        width: 30px;
        height: 30px;
        background-color: bisque;
    }

    .menu-toggle > img{
        padding: 0;
        margin: 0;
        width: 40px;
        height: 35px;
        left: -8px;
        top: -4px;
    }

@media screen and (min-width: 799px) {
    .body-content {
        animation: none;
        transform: translateX(0);
    }

    .menu-container {
        position: relative;
    }

    .menu-wraper {
        float: left;
        height: auto;
        top: 0;
        left: 2%;
        width: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: steelblue;
        z-index: 1;
        transition: none;
        transform: translateX(0);
    }

    .menu {
        float: left;
        text-align: center;
        font-size: 1.1em;
    }

    .menu > li {
        float: left;
        padding-top: 10px;
    }

    .menu > li > ul {
        box-shadow: 5px 5px 10px grey;
        z-index: 2;
    }

    .menu li > ul {
        position: absolute;
        text-align: left;
        padding: 0;
        padding-left: -30px;
        font-size: 15px;
    }

    .menu > li:hover > ul {
        display: block;
        opacity: 100;
        animation: fadein 400ms forwards;
    }


    /*Animando body e menu a esquerda*/
    body:hover .menu-wraper {
        animation: none;
    }

    body:hover .body-content {
        animation: none;
    }

    .teste {
        display: none;
    }

    .menu-toggle {
        float: right;
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .body-content {
        transform: translateX(0);
    }

    .menu-container {
        position: relative;
    }

    .menu-wraper {
        float: left;
        left: 20%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;        
        height: auto;
        top: 0;
        width: auto;
        position: absolute;        
        transition: none;
        transform: translateX(0);
        padding-left: 10%;
        
    }
    .menu-toggle {
        display: none;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
