@model AgilusFinan.Domain.Entities.TituloRecorrente

@{
    ViewBag.Title = "Incluir";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Incluir Título Recorrente</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("_Cadastro")
    </div>
</div>
