@model AgilusFinan.Web.ViewModels.PerfilViewModel

@{
    ViewBag.Title = "Incluir Perfil";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Incluir Perfil</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("_Cadastro")
    </div>
</div>
