@model List<AgilusFinan.Web.ViewModels.SaldoViewModel>

@{
    Layout = null;
}
    
<table>
@foreach (var saldo in Model)
{
    <tr>
        <td style="padding: 5px 15px"><strong>@saldo.Conta.Nome:</strong></td>
        <td style="text-align: right">@saldo.Saldo.ToString("C")</td>
    </tr>
}
</table>


