@model List<AgilusFinan.Web.ViewModels.SaldoViewModel>

@{
    Layout = null;
}
    
@foreach (var saldo in Model)
{
    <li class="list-group-item">
        <h2>@(saldo.Conta.Nome + ": " + saldo.Saldo.ToString("C"))</h2>
    </li>
}


