
@{
    ViewBag.Title = "Index";
}

<h2>Importação extrato</h2>

@using (Html.BeginForm("ConciliacaoExtrato", "Conciliacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group form-inline">
        <input type="file" name="file" class="btn btn-default"/>
        <hr />
        <input type="submit" class="btn btn-default" />
    </div>
}