@model System.Web.Mvc.HandleErrorInfo
 
@{
    ViewBag.Title = "Erro";

    if (AgilusFinan.Domain.Entities.UsuarioLogado.EmpresaId == 0)
    {
        Layout = "~/Views/Shared/_LayoutOff.cshtml";    
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";          
    }
}
 
<h1>Erro</h1>
<div class="title">
    @{
        if (@Model != null && @Model.Exception != null)
        {
            <h4>@Model.Exception.Message</h4>
            <h4>@(Model.Exception.InnerException != null ? Model.Exception.InnerException.Message : "") </h4>
            <button id="voltar" class="btn btn-primary" onclick="window.history.back();">Voltar</button>
            <br /><br /><br /><br />
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#stacktrace">Stack Trace</button>
            <div id="stacktrace" class="collapse">@Model.Exception.StackTrace</div>
        }
        else
        {
            <h4>O erro foi reportado ao Administrador.</h4>
            <button id="voltar" class="btn btn-primary" onclick="window.history.back();">Voltar</button>
        }
}
</div>
