@model AgilusFinan.Domain.Entities.TipoPessoa

@{
    ViewBag.Title = "Incluir";
}

<div class="ibox animated fadeInRight">
    <div class="ibox-title">
        <h2>Incluir Tipo de Pessoa</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("_Cadastro")
    </div>
</div>
