@{
    Layout = "~/Views/Shared/_LayoutOff.cshtml";
    ViewBag.Title = "Esqueci Senha";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2>Esqueceu a Senha?</h2>

                <p>Fique tranquilo. Digite seu e-mail que mandaremos um link para sua senha ser redefinida.</p>

                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm())
                        {  
                            <div class="form-group">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Endereço do E-mail" required="">
                            </div>

                            <input type="submit" class="btn btn-primary block full-width m-b" value="Enviar">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
