
@{
    Layout = "~/Views/Shared/_LayoutOff.cshtml";
    ViewBag.Title = "Alterar Senha";
}

<div class="middle-box text-center animated fadeInDown">
    @using (Html.BeginForm())
    {

        if (!(@ViewBag.MensagemErro == String.Empty))
        {
            <p>@ViewBag.MensagemErro</p>
        }
        <h2>Nova senha</h2>
        <div class="form-horizontal m-t">
            <div class="form-group">
                @*<label class="control-label col-sm-2">Digite sua Senha:</label>
                <div class="col-sm-2">*@
                <input class="form-control" type="password" placeholder="Digite a senha" id="senha" name="senha" />
                @*</div>*@
            </div>

            <div class="form-group">
                @*<label class="control-label col-sm-2">Confirme sua Senha:</label>
                <div class="col-sm-2">*@
                    <input class="form-control" type="password" placeholder="Confirme" id="confirmaSenha" name="confirmaSenha" />
                @*</div>*@
            </div>

            <input type="submit" class="btn btn-primary block full-width m-b" value="Alterar" id="Enviar" />
        </div>
   }
</div>



