@model List<AgilusFinan.Web.ViewModels.LiquidacaoViewModel>

    <table id="tabLiquidacoes" class="table-responsive"></table>
    <button id="AdicionarLiquidacao">Adicionar Liquidação</button>

    <script src="~/Scripts/HelloTable.js"></script>
    <script>
    var tabLiquidacoes = new HelloTable('tabLiquidacoes', 'AdicionarLiquidacao');
    var formas = ['Boleto', 'Dinheiro', 'CartaoDebito', 'CartaoCredito', 'Transferencia'];
    var elementos = [];
    for (var i = 0; i < formas.length; i++) {
        elementos.push(new SelectElement(i, formas[i]));
    }
    tabLiquidacoes.Columns.push(new ColumnTable('Data', 'Data', ColumnType.date, null, null, 'form-control'));
    tabLiquidacoes.Columns.push(new ColumnTable('Valor', 'Valor', ColumnType.text, null, null, 'form-control'));
    tabLiquidacoes.Columns.push(new ColumnTable('Juros e Multa', 'JurosMulta', ColumnType.text, null, null, 'form-control'));
    tabLiquidacoes.Columns.push(new ColumnTable('Forma Liquidacao', 'FormaLiquidacao', ColumnType.list, elementos, null, 'form-control'));

    tabLiquidacoes.jsonData = '@Html.Raw(Json.Encode(Model))';

    </script>


