@model IEnumerable<AgilusFinan.Domain.Entities.ResumoTituloCategoria>
<link href="~/Content/jquerysctipttop.css" rel="stylesheet" />
<link href="~/Content/bootstrap-treefy.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treefy.js"></script>
@{
    ViewBag.Title = "Index";
}

<table class="table" id="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-node="treetable-@item.CategoriaId" data-pnode="treetable-parent-@item.CategoriaPaiId" >
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <div style="background-color: #@item.Cor.ToString("X").PadLeft(6,'0'); width: 20px; height: 20px;"></div>
            </td>
            <td align="right">
                @item.Valor.GetValueOrDefault((decimal)0.0).ToString("#,##0.00")
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details")
            </td>
        </tr>
    }

</table>

<script>
    $(function () {
        $("#table").treeFy({

            // Custom template
            expanderTemplate: '<span class="treetable-expander"></span>',
            indentTemplate: '<span class="treetable-indent"></span>',

            // CSS classes for expander
            expanderExpandedClass: 'fa fa-angle-down',
            expanderCollapsedClass: 'fa fa-angle-right',

            // Index of the column which expander should be added to.
            treeColumn: 0,

            //enabled or disabled the click
            enableClick: true,

            // Initial CSS class
            initStatusClass: 'treetable-collapsed'            

        });

    });
</script>

