@model IEnumerable<AgilusFinan.Domain.Entities.ResumoTituloCategoria>

@{
    ViewBag.Title = "Index";
}

<div class="panel-heading">Resumo de Títulos</div>

<table class="table">
    <tr>
        <th>
            Categoria
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <div style="background-color: #@item.Cor.ToString("X").PadLeft(6,'0'); width: 20px; height: 20px;"></div>
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details")
            </td>
        </tr>
    }

</table>

