@model AgilusFinan.Domain.Entities.Banco

@{
    ViewBag.Title = "Incluir Banco";
}
<div class="ibox">
    <div class="ibox-title">
        <h2>Incluir Banco</h2>
    </div>
    <div class="ibox-content">
        @Html.Partial("_Cadastro")
    </div>
</div>


